body {
    margin: 0;
    padding: 0;
    background-color: #F0F8FF;
}

div#application {
    margin: 0;
    padding: 0;
}

div#title {
    background-color: #F0F8FF;
    font-family: "OCR A Std", monospace;
    color: #000000;
    text-align: center;

}

h4 {
    font-family: "OCR A Std", monospace;
    color: #000000;
}

#form-label {
    font-family: "OCR A Std", monospace;
    color: #000000;
}

#application {
    display: flex;
    width: 100%
}

#application > div:nth-child(2) {
    flex: 1;
}

#user-info {

}

#game {
    text-align: center;
}

#high-scores {
    text-align: center;
}



#commment-title {
    text-align: center;
}

.deleteButton {
 width: 30px;
 height: 30px;
 text-align: center;
 float: right;
 border: 3px solid #F5F5F5 ;
 background: #F5F5F5;
 color: #000000;
 font-size: medium;
 border-radius: 0px;
}

.deleteButton:hover {
    background: #F0F8FF;
    color: #000000;
}

.a-comment {
    background-color:#F5F5F5;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    color: #000000;
    margin: 20px;
    text-align: left;
}

canvas {
    cursor: none;
}

p {
    color :#000000;
    font-family: "OCR A Std", monospace;
}

h5{
    color: #000000;
    font-family: "OCR A Std", monospace;
}

#loggedInUser {
    background-color: #F5F5F5;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    color: #000000;
    margin: 15px;
}

#login {
    background-color: #F5F5F5;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    color: #000000;
    margin: 15px;
}

#comments-section {
    background-color: #F5F5F5;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    color: #000000;
    margin: 15px;
}

#signup {
    background-color: #F5F5F5;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    color: #000000;
    margin: 15px;
}

.high-scores {
    background-color: #F5F5F5;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    color: #000000;
    margin: 15px;
}