body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

div#application {
    margin: 0;
    padding: 0;
}

div#title {
    background-color: #000000;
    font-family: "OCR A Std", monospace;
    color: #FFFFFF;
    text-align: center;

}

h4 {
    font-family: "OCR A Std", monospace;
    color: #FFFFFF;
}

#form-label {
    font-family: "OCR A Std", monospace;
    color: #FFFFFF;
}

#application {
    display: flex;
    width: 100%
}

#application > div:nth-child(2) {
    flex: 1;
}

#user-info {

}

#game {
    text-align: center;
}

#high-scores {
    text-align: center;
}

#comments {
    width: 100%;
}

#commment-title {
    text-align: center;
}

.deleteButton {
 width: 30px;
 height: 30px;
 text-align: center;
 border: 3px solid white ;
 background: red;
 color: white;
 font-size: medium;
 border-radius: 15px;
}

.deleteButton:hover {
    background: black;
    color: red;
    border-color: white;
}

.a-comment {
    background-color: black;
    border: 5px solid white;
    color: white;
    padding: 10px;

    height: 10;
    text-align: left;
}