body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

div#application {
    margin: 0;
    padding: 0;
}

div#title {
    background-color: #000000;
    font-family: "OCR A Std", monospace;
    color: #FFFFFF;
    text-align: center;

}